* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}


body {
  margin: 0;
  height: 100vh;
  background: #f7b6c8; /* pink background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  max-width: 400px;
  padding: 20px;
}

.heading {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}

.heading span {
  color: #e0569a;
}
.birthday-letter {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
  margin-top: 30px;
  display: none;
  animation: popIn 0.8s ease forwards;
}

.birthday-letter h2 {
  margin: 0;
  font-size: 26px;
  color: #e0569a;
}

/* Pop-in animation */
@keyframes popIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* Countdown boxes */
.countdown {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 25px;
}

.time-box {
  background: #ffffff;
  width: 90px;
  height: 110px;
  border-radius: 18px; /* curved square */
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 34px;
  font-weight: 600;
  color: #e0569a;
}

.label {
  font-size: 11px;
  color: #777;
  margin-top: 6px;
  letter-spacing: 1px;
}

/* Text below countdown */
.message {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 25px;
}

/* Button */
.celebrate-btn {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  background: #ffffff;
  color: #e0569a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.celebrate-btn:hover {
  transform: scale(1.05);
}
